.create_resto span {
    background-color: orange;
    color: wheat;
    padding: 10px 25px;
    cursor: pointer;
}
.create_resto  form{
    display: inline-flex;

}
.create_resto form input[type="text"]{
    border: none;
    padding: 10px;
    border-right: 1px solid cornsilk;
}
.create_resto button{
    background: none;
    border: none;
    background-color: blue;
    color: wheat;
    padding: 10px 25px;
    font-weight: bold;
}

.resto-modal {
    position: absolute;
    background-color: transparent;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.resto-modal .card-image {
    height: 250px;
    background-size: cover;
    border-radius: 2px;
    background-position: center;
    border: darkgray 5px inset;
}

.resto-modal .filter {
    padding: 10px 0;
    box-shadow: 0 0 3px rgba(50, 50, 50, 0.5);
}

.resto-modal .filter span{
    margin-right: 10px;
}

.resto-modal .filter input[type="range"] {
    vertical-align: middle;
    width: 250px;
    margin-right: 20px;
}

.Modal{
    overflow: scroll;
    height: 50%;
    width: 30%;
    margin-top: 10px;
    margin-right:50px;
    float: left;
}
/*.well{*/
    /*min-height: 100px;*/
/*}*/
/*.modal-header{*/
    /*font-size:  15px;*/
    /*font-weight: bold;*/
/*}*/
/*.modal-content{*/
    /*padding: 20px;*/
    /*text-align: center;*/

/*}*/

/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}